@import '~leaflet/dist/leaflet.css';

@font-face {
  font-family: 'Avant Garde';
  src: url('./fonts/AvantGarde-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Avant Garde';
  src: url('./fonts/AvantGarde-Demi.woff') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'Avant Garde';
  src: url('./fonts/AvantGarde-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Avant Garde';
  src: url('./fonts/AvantGarde-Book.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Avant Garde';
  src: url('./fonts/AvantGarde-Light.woff') format('woff');
  font-weight: 300;
}
